# Operating System Files
*.DS_Store
Thumbs.db

# Build Files
target/
bin/
build/
# */target/
# */build/
*/src/META-INF/
*/src/main/java/META-INF/
*.log
*.jar
*.class

# Eclipse Project Files
.settings/
.classpath
.project
# */.settings/

# Intellij IDEA Project Files
.idea/
*.iml
*.ipr
*.iws
*.idea

# Gradle Project Files
.gradle/

# Vertx Project Files
*/.vertx/

# VS Code Project Files
./code/

# Spring Bootstrap artifacts
out/






